**IMPORTING LIBRARIES**

In [54]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [2]:
df=pd.read_csv("Telecom.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [3]:
df=df.drop('Unnamed: 0',axis=1)

In [4]:
df

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,0,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,1,0,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
x=df.drop('Churn',axis=1)

In [7]:
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [8]:
y=df['Churn']

y

TRAIN TEST SPLIT

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

**WE ARE GOING TO MAKE USE OF ONE OF THE CLASSIFICATION ALGORITHMS: DecisionTreeClassifier**

**DECISION TREE CLASSIFIER**

In [94]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [95]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [96]:
y_predict = model_dt.predict(x_test)

In [63]:
y_test

4714    0
4938    1
4145    0
1269    0
2813    1
       ..
2488    0
2452    0
2027    1
6097    1
5314    0
Name: Churn, Length: 1407, dtype: int64

In [98]:
model_dt.score(x_test,y_test)

0.7668798862828714

In [99]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85      1032
           1       0.57      0.48      0.52       375

    accuracy                           0.77      1407
   macro avg       0.70      0.68      0.69      1407
weighted avg       0.76      0.77      0.76      1407

(confusion_matrix(y_test,y_pred))

As you can see that the accuracy is quite low, and as it's as a result of our imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.

Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

TO CORRECT FOR THE LOW ACCURACY AS A RESULT OF AN INBALANCE DATASET,

WE WILL CARRY OUT OVERSAMPLYING OF THE DATASET USING; SMOTEENN

**SMOTEENN**

In [70]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [71]:
x_train1,x_test1,y_train1,y_test1=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [57]:
model_RF =DecisionTreeClassifier(criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [59]:
model_RF.fit(x_train1,y_train1)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [90]:
yr_predict = model_RF.predict(x_test1)

In [53]:
y_test1

3515    1
5250    1
2733    1
1857    0
3718    1
       ..
1142    0
2168    0
3893    1
2040    0
5341    1
Name: Churn, Length: 1176, dtype: int64

In [76]:
model_RF.score(x_test1,y_test1)

0.9442096365173288

In [92]:
print(metrics.classification_report(y_test1, yr_predict))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94       539
           1       0.94      0.96      0.95       644

    accuracy                           0.94      1183
   macro avg       0.95      0.94      0.94      1183
weighted avg       0.94      0.94      0.94      1183

In [78]:
print(metrics.confusion_matrix(y_test1, yr_predict))

[[496  43]
 [ 23 621]]

We can now see that our model accuracy have increased as we corrected for the inbalance dataset by oversamplying

We can build as many classifiaction model as possible by using any of the classifiaction models

**RANDOM FOREST CLASSIFIERS**

In [105]:
from sklearn.ensemble import RandomForestClassifier

In [106]:
model_rf = RandomForestClassifier(n_estimators =100,criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [108]:
model_rf.fit(x_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [115]:
y_pred_rf = model_rf.predict(x_test)

In [116]:
y_test

4714    0
4938    1
4145    0
1269    0
2813    1
       ..
2488    0
2452    0
2027    1
6097    1
5314    0
Name: Churn, Length: 1407, dtype: int64

In [113]:
model_rf.score(x_test,y_test)

0.7960199004975125

In [117]:
print(classification_report(y_test, y_pred_rf, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.92      0.87      1032
           1       0.67      0.47      0.55       375

    accuracy                           0.80      1407
   macro avg       0.75      0.69      0.71      1407
weighted avg       0.78      0.80      0.78      1407

In [118]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [119]:
xf_train,xf_test,yf_train,yf_test = train_test_split(X_resampled, y_resampled,test_size=0.2)

In [120]:
model_xf =RandomForestClassifier(criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [122]:
model_xf.fit(xf_train,yf_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [124]:
yf_predict = model_xf.predict(xf_test)

In [125]:
yf_predict

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [126]:
yf_test

643     0
1078    0
980     0
3460    1
2394    0
       ..
934     0
303     0
5245    1
2986    1
888     0
Name: Churn, Length: 1175, dtype: int64

In [127]:
model_RF.score(xf_test,yf_test)

0.9259574468085107

In [130]:
print(metrics.classification_report(yf_test, yf_predict,labels =[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.87      0.91       527
           1       0.90      0.97      0.93       648

    accuracy                           0.93      1175
   macro avg       0.93      0.92      0.92      1175
weighted avg       0.93      0.93      0.92      1175

In [131]:
(confusion_matrix(yf_test,yf_predict))

array([[458,  69],
       [ 19, 629]], dtype=int64)

**SAVE OUR MODEL**

We can now save our models and be ready for deploment

In [138]:
import pickle

In [141]:
filename = "Model.sav"

In [143]:
pickle.dump(model_RF, open(filename, "wb"))

In [144]:
load_model = pickle.load(open(filename,"rb"))